<app-header titulo="Grid"></app-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-grid fixed="true">
    <ion-row>
      <ion-col size="12" size-lg="3" size-md="4" size-sm="6"
        *ngFor="let item of [1,1,1,1,1,1,1,1,1,1,1,1]">
        <ion-card>
          <ion-img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fcdn.pixabay.com%2Fphoto%2F2020%2F06%2F30%2F22%2F34%2Fdog-5357794_1280.jpg&f=1&nofb=1&ipt=db30d80ae09d53d23f186d5d5d0d72ddba346d9a9494675682349f0676ff607f"></ion-img>
        </ion-card>
        <ion-card-header>
          <ion-card-subtitle>Awesome Subtitle</ion-card-subtitle>
          <ion-card-title>Awesome Title</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur,
          est quas aut commodi magni adipisci, earum impedit aperiam voluptate
          excepturi temporibus ea dicta? Voluptates libero molestias quod, earum
          quo quidem?
        </ion-card-content>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>