<app-header titulo="Card"></app-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
      <ion-card-title>Card Title</ion-card-title>
    </ion-card-header>
    
    <ion-card-content>
      Keep close to nature's heart
    </ion-card-content>
  </ion-card>
  
  <ion-card>
    <ion-item color="primary">
      <ion-icon name="pin-outline" slot="start"></ion-icon>
      <ion-label>Marcador</ion-label>
    </ion-item>
    <ion-card-content>
      Lorem ipsum
    </ion-card-content>
  </ion-card>
  
  <ion-card>
    <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fmedia.ambito.com%2Fp%2Fd8cebdd4fa3cbdd7f0f7ffcc4ee27835%2Fadjuntos%2F239%2Fimagenes%2F039%2F867%2F0039867926%2Fmonojpg.jpg&f=1&nofb=1&ipt=edc2e7c68e46056382b5b7d354b1ebc3db3006cee3cfee48188daaf1bef71dee">
    <ion-card-content>
      &#64;Mono
    </ion-card-content>
  </ion-card>
  
  <ion-card>
    <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fi5.walmartimages.com%2Fseo%2FWhite-King-Puto-Cake-Mix-2-Packs_dd325f80-a5c4-4460-9a1a-7b3d7a052015.6fd4bfc86d7292f95188464e94454ce6.jpeg&f=1&nofb=1&ipt=cb822bd86b00d1808ce02248ced388fbf6ac82dd8d598d2c972e8a12587f241a">
    <ion-card-content>
      Puto
    </ion-card-content>
  </ion-card>
</ion-content>
