<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="alert">
      <ion-icon name="alert-circle-outline"></ion-icon>
      <ion-label>Alert</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="avatar">
      <ion-icon name="person-circle-outline"></ion-icon>
      <ion-label>Avatar</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="card">
      <ion-icon name="card-outline"></ion-icon>
      <ion-label>Card</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
