<app-header titulo="action sheet"></app-header>


<!--
<ion-header [translucent]="true">
  <ion-toolbar>

    <ion-buttons
      slot="start"
    >
      <ion-back-button
        defaultHref="/"
        text="Regresar"
        color="primary"
      >
        
      </ion-back-button>
    </ion-buttons>

    <ion-title>action-sheet</ion-title>
  </ion-toolbar>
</ion-header>
-->

<ion-content class="ion-padding">
  <ion-button expand="block" (click)="presentActionSheet()">
    Boton de Action Sheet
  </ion-button>

 

</ion-content>
